.rightSidebar{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    position: relative;

}
.header{
    display: flex;
    width: 100%;
  
}
.dropdownDiv{
    display: flex;
    align-items: center !important;
    justify-content: center ;
    width: 10%;
    cursor: pointer;
    padding: 7px;
    gap:10px;
    font-size: 20px;
}
.imgDiv{
    display: flex;
    height: 35px;
    width: 35px;
}
.rightsideDiv{
    display: flex;
    width: 97%;
    justify-content: flex-end !important;
    align-items: center;
    padding-right: 2rem;
    gap:30px
}
.tryGeminibutton{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    background-color: rgb(232, 237, 237);
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
}
.centerText{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:0.8rem;
    overflow-y: auto;
    min-height: 300px; 
}
h3{
    background: -webkit-linear-gradient(15deg,#6366f1, #ea580c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
}
.textboxofGemini{
    background: rgb(233, 234, 234);
    width: 70%;
    border-radius: 20px;
    /* margin-top: 20%; */
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.textboxofGemini >textarea{
    outline: none;
    border: none;
    width: 90%;
    padding: 10px;
    background: transparent;
    font-size: 14px;
}
.iconDiv{
    display: flex;
    align-items: center;
    gap:10px;
    font-size: 20px;
    color: gray;
    cursor: pointer;
}
.iconposition{
    margin-left: auto;
    margin-right: 1rem;
}
.textboxofGeminiPosition{
    flex-direction: column;
    gap:8px;
    
}
.text{
    font-size: 11px;
}
.dropdownDiv:hover{
    background: rgb(224, 223, 223);
    border-radius: 10px;
}
.chatbotanswers{
    display: flex;
    width: 70%;
    margin: auto;
    align-items: center;
    padding: 10px;
    gap:20px
}
.chatbotanswers>img{
    height: 35px;
    width: 35px;
}
.chatDetails{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
}
.chatDetails>span{
    font-size: 15px;
    text-align: justify;
    margin-top: -10px;
}
h4{
    font-size: 1.2rem;
}
::-webkit-scrollbar{
    display: none;
}